body {
  font-family: Arial, sans-serif;
  background-color: green;
}
h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;

}

.directions-list {
  list-style: circle inside;

}

header > img {
  width: 100px;
}

ul > li > a {
  text-decoration: none;
  color: inherit;
}
