.time-widgets {
  font-family:'Do Hyeon', sans-serif;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  border: 3px solid gold;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 50px;
}

.time-widgets div {
  display: flex;
  justify-content: space-between;
}

.clock-header {
  margin-top: -60px;
  margin-bottom: 20px;
  color: black;
}

#root {
  width: 600px;
  margin: auto;
}

.tab-widgets{
  padding: 25px;
  background-color: #33ccff;
  width: 200px;
}

.tab-headers{
  display: flex;

}

.tab-headers h1{
  box-sizing: border-box;
  font-weight: 700;
  padding: 2px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
}

.tab-content{
  text-align: center;
}
