/* PHASE 3: Layout */



.content{
  display: flex;
  min-height: 240px;
  background: white;
  margin:auto;
  margin-top: -1px;
}

.content-sidebar{
  width: 240px;
  border-right: 1px solid #ccc;
}

.content-main{
  width: 660px;
}

.mama-box {
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #ccc;
}

.mama-box > footer {
  border-top: 1px solid #ccc;
  height:56px;
}
