.hanoi {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: auto;
}

ul {
  list-style: none;
  border-bottom: 10px solid black;
  padding-left: 0;
  width: 200px;
}

ul:hover {
  border-bottom: 10px solid yellow;
}

li {
  height: 50px;
  margin: 20px auto 20px auto;
}

h1 {
  text-align: center;
}

.disk-1,
.disk-2,
.disk-3 {
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 50px;
}
.disk-1 {
  width: 60px;
}

.disk-2 {
  width: 120px;
}

.disk-3 {
  width: 180px;
}
