/* PHASE 11: Icons */
[class*="icon-"] {
  width: 25px;
  background-size: 25px 250px;
  height: 0px;
  padding-top: 25px;
  display: inline-block;
  background-image: url('../images/sprite.png');
  overflow: hidden;
}

.icon-comment {
  background-position: 0px 0px;
}

.icon-reblog {
  background-position: 0px -100px;
}

.icon-favorite {
  background-position: 0px -50px;
}


.icon-comment:hover {
  background-position: 0px -25px;
}

.icon-reblog:hover {
  background-position: 0px -125px;
}

.icon-favorite:hover {
  background-position: 0px -75px;
}

[class*="icon-small"] {
  width: 20px;
  padding-right: 5px;
  background-size: 25px 250px;
  height: 0px;
  padding-top: 20px;
  display: inline-block;
  background-image: url('../images/sprite.png');
  overflow: visible;
}
