/* PHASE 9: Forms */
.content-main{
}

.form-section .thumb {
  float: left;
}

.PostToWall {
  background-color: gray;
  float: left;
  /* position: relative; */
}

.PostToWall input {
  display: block;
  border: 1px solid #ccc;
  background-color: white;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  /* position: absolute; */
}

.PostToWall textarea {
  display: block;
  border: 1px solid #ccc;
  background-color: white;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  /* position: absolute; */
}

.PostToWall .submit_button {
  display: inline;
  padding: 5px;
}
