
<header class="location-header">
  <nav class="location-nav">
    <ul>
      <li>
        <button type="button" name="button">World</button>
      </li>
      <li>
        <button type="button" name="button">San Francisco</button>
      </li>
      <li>
        <button type="button" name="button">New York</button>
      </li>
      <li>
        <button type="button" name="button">Bootcamp</button>
      </li>
      <li>
        <button type="button" name="button">Jumpstart</button>
      </li>
      <li>
        <button type="button" name="button">Online</button>
      </li>
      <li>
        <button type="button" name="button">Marketing</button>
      </li>
      <li>
        <button type="button" name="button">Sales</button>
      </li>
      <li>
        <button type="button" name="button">TalentMatch</button>
      </li>
      <li>
        <button type="button" name="button">Alumni</button>
      </li>
      <li>
        <a href="#">All</a>
      </li>
    </ul>
  </nav>
