.location-nav button:hover {
	background-color: #cec9c9;
}

.location-nav button {
	background: none;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: none;
  text-transform: none;
}

.location-header .locations {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.location-header .locations li {
  position: relative;
  display: flex;
  margin-right: 20px
}

.location-header a {
  position: absolute;
  font-size: .85em;

}
